@import "tailwindcss";

:root {
    --background: #221B1C;
    --foreground: #FFFEF2;
    --primary: #EBD386;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-averia-serif-libre: var(--font-averia-serif-libre);
  --font-londrina-solid: var(--font-londrina-solid);
  --font-londrina-sketch: var(--font-londrina-sketch);
  --font-londrina-outline: var(--font-londrina-outline);
  --font-londrina-shadow: var(--font-londrina-shadow);
  --font-merriweather: var(--font-merriweather);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #221B1C;
    --foreground: #FFFEF2;
    --primary: #EBD386;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 25vh;
}
