name: CI
run-name: Run CI on ${{ github.ref_name }}
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs: 
  build:
    runs-on: ubuntu-latest
    environment: Sanity + form
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use secrets
        env:
          NEXT_PUBLIC_SANITY_DATASET: ${{ secrets.NEXT_PUBLIC_SANITY_DATASET }}
          FORM_API_KEY: ${{ secrets.FORM_API_KEY }}
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_AUTH_TOKEN }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Type check
        run: npx tsc --noEmit

      - name: Run linter
        run: npm run lint

      - name: Run build
        run: npm run build